# IDE & editor
.idea/
*.iml

# Build artifacts
build/
dist/
redvox.egg-info/

# Python
*.pyc
__pycache__/
.mypy_cache
.coverage
htmlcov/

# Virtual environment
.venv/
.venv312/

# Local skills / personal configs
.local/
.config/

# Media and session data
redvox_gui/media/
redvox_gui/sessions/

# Docs / configs
*.toml
*.ini

# Images / temporary files
*.jpg
*.jpeg

# Misc
*.orig
.replit